<div class="container" id="cont-about">
	
	<div class="main-about">
				<%= image_tag "http://s32.postimg.org/breytv7l1/13120697_797925090352088_116020537_o.jpg
" %>
		<div class="about-text">
			<p>I was born in 1997 and raised in Damascus and Istanbul before moving to Montreal.</p>
			<p>I'm currently studying software engineering at Mcgill university.</p>
			<p>I'm also working on a project called sampsound, </p>
			<p>which is basically a platform that allow users to find music that matches their taste easily in a short amount of time</p>  
			<p> I'm most intrested about music-focused online services, Automatic summarization, AI and machine learning.
			
		
	</div>
</div>
</div>