<div class="container" id="cont-about">
	
	<div class="main-about">
		<div class="img">
				<%= image_tag "http://s32.postimg.org/tlgmn4kv9/IMG_1228.jpg" %>
				</div>
		<div class="about-text">
			<p>I was born in 1997 and raised in Damascus and Istanbul before moving to Montreal.</p>
			<p>Currently studying software engineering at Mcgill university.</p>
			<p>I'm also working on a project called Sampsound, </p>
			<p>Sampsound is a platform that allow users to find music that matches their taste easily in a short amount of time.</p>  
			<p> I'm most intrested about music-focused online services, Automatic summarization, AI and machine learning.</p>
			<p>Proficient: Java, ruby on rails, javascript, html, css, jQuery.</p>
            <p>Familiar with: C, python, git.</p>
			
		
	</div>
</div>
</div>