<div class="container" >
    	    <div class="main-contact">
            <ul class="classWithPad">
                <p>Please reach out. I'm always happy to chat!</p>
                          <li>  <a href ="https://www.linkedin.com/in/hisham-hawara-ab8285103?trk=hp-identity-name"><img src ="http://s32.postimg.org/8f9yw12z5/social_5.png"></a></li>
         <li>   <a href ="https://github.com/kayguxe"><img src ="http://s32.postimg.org/qro1t9bgx/circle.png"></a></li>
             <li>   <a href ="mailto:'hisham.hawara@mail.mcgill.ca'"><img src ="http://s32.postimg.org/xkzcbf0o1/black.png"></a></li>
           <li> <a href ="https://www.facebook.com/hishamhawara2"><img src ="http://s32.postimg.org/ko0ysuxxt/social_3.png"></a></li>
            <li><a href ="https://twitter.com/hisham_hawara"><img src ="http://s32.postimg.org/h1crx8y1d/social_6.png"></a></li>
        <li> <a href ="https://www.instagram.com/hishamhawara/"><img src ="http://s32.postimg.org/vrl1hu05t/social_4.png"></a>
        <li> <a href ="https://www.quora.com/profile/Hisham-Hawara-1"><img src ="http://s32.postimg.org/5wzbg3e8h/social_media_3.png"></a>
        <li> <a href ="https://soundcloud.com/hishamhawara"><img src ="http://s32.postimg.org/nau89ar81/social_media.png"></a>

    </ul>
</div>
    </div>
