<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading"><a href="http://sampsound.com"><span class="text-muted">Sampsound</span></a> helps you find music that matches your taste easily.</h2>
    <p class="lead">Work so far:<a href="https://github.com/kayguxe/sampsound.git"><span class="text-muted"> sampsound in github</span></a> </p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive center-block" src="http://s32.postimg.org/6gae7oplh/emblemmatic_sampsound_logo_10.png">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 col-md-push-5">
    <h2 class="featurette-heading"><a href= "https://bass-music-rails.herokuapp.com/albums"><span class="text-muted">Bass music</span></a> is a music catalog App</h2>
    <p class="lead">code in github : <a href="https://github.com/kayguxe/music-catalog"><span class="text-muted"> bass-music</span></a> </p>
  </div>
  <div class="col-md-5 col-md-pull-7">
    <img class="featurette-image img-responsive center-block" src= "http://s32.postimg.org/78sw9fk0l/Screen_Shot_2016_05_03_at_2_13_21_AM.png">
  </div>
  
</div>
<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading"><a href="https://threadly-rails.herokuapp.com/"><span class="text-muted">Threadly:</span></a> discussion forum</h2>
    <p class="lead">code in github:<a href="https://github.com/kayguxe/comments-"><span class="text-muted"> threadly in github</span></a> </p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive center-block" src="http://s32.postimg.org/r9bahbdw5/Screen_Shot_2016_05_03_at_2_41_23_AM.png">
  </div>
</div>
<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 col-md-push-5">
    <h2 class="featurette-heading"><a href= "https://bookmarks-rails-2633.herokuapp.com/books"><span class="text-muted">Bookmarks</span></a> is a book reviews website</h2>
    <p class="lead">code in github : <a href="https://github.com/kayguxe/books-reviews-web"><span class="text-muted"> bass-music</span></a> </p>
  </div>
  <div class="col-md-5 col-md-pull-7">
    <img class="featurette-image img-responsive center-block" src= "http://s32.postimg.org/gafrt2zkl/Screen_Shot_2016_05_03_at_3_22_04_AM.png">
  </div>
  
</div>
<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading"><a href="https://innovation-cloud-rails.herokuapp.com/"><span class="text-muted">innovation-cloud:</span></a> saves emails to database</h2>
    <p class="lead">code in github:<a href="https://github.com/kayguxe/eamil-saver.git"><span class="text-muted"> innovation-cloud in github</span></a></p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive center-block" src="http://s32.postimg.org/99utbq6fp/Screen_Shot_2016_05_03_at_3_30_48_AM.png">
  </div>
</div>
<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 col-md-push-5">
    <h2 class="featurette-heading"><span class="text-muted">keywords extractor:</span> extract the 5 strongest keywords from an article</h2>
    <p class="lead">using the TF-IDF technique the application finds the power of every word in the article and print the strongest 5 keywords from the article with their TF-IDF score.</p>
 <p class="lead">code: <a href="https://github.com/kayguxe/java"><span class="text-muted"> keyword extraction</span></a> in github(KeywordExtractor.java & DocumentFrequency.java)</p>
  </div>
  <div class="col-md-5 col-md-pull-7">
    <img class="featurette-image img-responsive center-block" src= "http://deeplearning4j.org/img/tfidf.png">
  </div>
  
</div>
<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading"><span class="text-muted">Hangman:</span></a></h2>
    <p class="lead">code: <a href="https://github.com/kayguxe/java"><span class="text-muted">Hangman</span></a> in github(hangman.java & letter.java)</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive center-block" src="http://www.sightwordsgame.com/wp-content/uploads/2011/11/Hangman.jpg">
  </div>
</div>