 <div class="main">
  <div class="container">
   <div class="go"></div>
  <p>Hello There.</p>
  
  <p>My name is <span class="mom">Hisham Hawara</span>.</p>
  <p>I'm a developer & student.</p>
<%= button_to "view my work", portfolio_path, :class => "btn btn-lg btn-default", :method => :get %>

      </div>
    </div>
    </div>