<nav class="navbar navbar-default">
  <div class="container-fluid navbar-container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" data-target="#bs-navbar-collapse-1" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
  <li>
      <a href="#">home</a>
    </li>
    <li>
      <a href="#">resume</a>
    </li>
    <li>
      <a href="http://kayguxe.tumblr.com/">blog</a>
      </li>
      <li>
      <a href="#">contact</a>
    </li>
</ul>
    </div>
  </div>
</nav>
